{% extends 'base.html' %}
{% from "_formhelpers.html" import with_errors %}

{% block header %}
    <h1>{% block fname %}New Crew{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post" action="{{ url_for('roster.create') }}">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    {{ form.first_name.label }}
                    {{ with_errors(form.first_name, class_='form-control') }}
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    {{ form.last_name.label }}
                    {{ with_errors(form.last_name, class_='form-control') }}
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    {{ form.gender.label }}
                    {{ with_errors(form.gender, class_='form-control') }}
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                {{ form.ancestry.label }}
                {{ form.ancestry(class_='form-control') }}
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <button class="btn btn-outline-secondary btn-sm" title="Use Ancestry to determine the selection of names" onclick="select_random_name(); return false;">Generate Random Name</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    {{ form.rank.label }}
                    {{ with_errors(form.rank, class_='form-control') }}
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    {{ form.callsign.label }}
                    {{ with_errors(form.callsign, class_='form-control') }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    {{ form.notes.label }}
                    {{ with_errors(form.notes, size=30, class_='form-control') }}
                </div>
            </div>
        </div>
        <input type="submit" class="btn btn-primary" value="Save">
        <a href="{{ url_for('roster.index') }}" class="btn btn-secondary">Back</a>
    </form>

    <div class="text-center mt-2">
        <p>For other name suggestions see the <a href="http://random-name-generator.info/" target="_blank">Random Name Generator <i class="fas fa-external-link-alt"></i></a></p>
    </div>
{% endblock %}

{% block pagescript %}
    <script type="text/javascript">
        function select_random_name() {
            let my_gender = $('#gender').val();
            let my_ancestry = $('#ancestry').val();
            $.getJSON('{{ url_for('roster.random_name') }}', {gender: my_gender, ancestry: my_ancestry}, function (data) {
               $('#first_name').val(data['first_name']);
               $('#last_name').val(data['last_name']);
               $('#gender').val(data['gender']);
               $('#ancestry').val(data['ancestry']);
            });
        }
    </script>
{% endblock %}
