{% extends 'base.html' %}

{% block header %}
    <div class="row">
    <div class="col-11">
    <h1>{% block title %}Crew{% endblock %}</h1>
    </div>
    <div class="col">
    {% if current_user.is_authenticated %}
        <a class="btn btn-success" href="{{ url_for('roster.create') }}">New</a>
    {% endif %}
    </div>
    </div>
{% endblock %}

{% block content %}
    <div class="table-responsive-md">
        <table class="table" id="crewTable">
        <thead>
        <tr>
            <th>Rank</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Age</th>
            <th>Callsign</th>
            <th>AS Skill</th>
            <th>Unit</th>
            <th>Equipment</th>
            {% if current_user.is_admin() %}<th>Player</th>{% endif %}
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for rec in crew_list %}
            <tr>
                <td>{{ rec.rank.shortName }}</td>
                <td>{{ rec.lname }}</td>
                <td>{{ rec.fname }}</td>
                <td>{{ rec.getAge() }}</td>
                <td>{{ rec.callsign }}</td>
                <td>{{ rec.getASSkill() }}</td>
                <td>{{ rec.getUnitName() }}</td>
                <td>{{ rec.getEquipmentName() }}</td>
                {% if current_user.is_admin() %}<td>{{ rec.getPlayer() }}</td>{% endif %}
                <td><a href="{{ url_for('roster.update', crew_id=rec.id) }}" class="btn btn-primary btn-sm">Edit</a></td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
{% endblock %}

{% block pagescript %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

    <script type="text/javascript">
    $(document).ready( function () {
        $('#crewTable').DataTable( {
          "order": [[1, "asc"],[2, "asc"]]
        } );
    });
    </script>
{% endblock %}
