{% extends 'base.html' %}
{% from "_formhelpers.html" import with_errors %}

{% block header %}
    <h1>{% block title %}Edit "{{ crew_rec.fname }} {{ crew_rec.lname }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="form-row">
            <div class="form-group col-md-4">
                {{ form.first_name.label }}
                {{ with_errors(form.first_name, class_='form-control') }}
            </div>
            <div class="form-group col-md-4">
                {{ form.last_name.label }}
                {{ with_errors(form.last_name, class_='form-control') }}
            </div>
            <div class="form-group col-md-2">
                {{ form.birthdate.label }}
                {{ with_errors(form.birthdate, class_='form-control') }}
            </div>
            <div class="form-group col-md-2">
                {{ form.gender.label }}
                {{ with_errors(form.gender, class_='form-control') }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                {{ form.rank.label }}
                {{ with_errors(form.rank, class_='form-control') }}
            </div>
            <div class="form-group col-md-4">
                {{ form.callsign.label }}
                {{ with_errors(form.callsign, class_='form-control') }}
            </div>
            <div class="form-group col-md-4">
                {{ form.joindate.label }}
                {{ with_errors(form.joindate, class_='form-control') }}
            </div>
        </div>
        <hr>
        <div class="form-group">
            {{ form.position.label }}
            {{ with_errors(form.position, class_='form-control') }}
        </div>
        {% for pos in crew_rec.positions %}
            <div class="row mb-2">
                <div class="col">
                    <span class="mx-2">{{ pos.type }}</span>
                    {% for skill in crew_rec.get_skills(pos.id) %}
                        <span class="badge badge-info">{{ skill.skillType.name }}: {{ skill.value }}</span>
                    {% endfor %}
                </div>
                <div class="col">
                    <a href="{{ url_for('roster.remove_position', crew_id=crew_rec.id, crew_type_id=pos.id) }}" class="btn btn-danger btn-sm">Remove Position</a>
                </div>
            </div>
        {% endfor %}
        <hr>
        <div class="form-group">
            {{ form.ability.label }}
            {{ with_errors(form.ability, class_='form-control') }}
        </div>
        {% for abl in crew_rec.abilities %}
            <div class="row mb-2">
                <div class="col">
                    <span class="mx-2">{{ abl.name }}</span>
                </div>
                <div class="col">
                    <a href="{{ url_for('roster.remove_ability', crew_id=crew_rec.id, ability_type_id=abl.id) }}" class="btn btn-danger btn-sm">Remove Ability</a>
                </div>
            </div>
        {% endfor %}
        <hr>
        <div class="form-group mt-4">
            {{ form.notes.label }}
            {{ with_errors(form.notes, size=30, class_='form-control') }}
        </div>
        {{ form.save(class_="btn btn-success") }}
        {{ form.save_and_close(class_="btn btn-primary") }}
        <a href="{{ url_for('roster.index') }}" class="btn btn-secondary">Back</a>
    </form>
    <hr>
    <form action="{{ url_for('roster.delete', crew_id=crew_rec.id) }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input class="btn btn-danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
    </form>
{% endblock %}
