{% extends 'base.html' %}
{% from "_formhelpers.html" import with_errors %}

{% block header %}
    <h1>{% block title %}Edit Member{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.username.label }}
            {{ with_errors(form.username, class_='form-control', readonly=true) }}
        </div>
        <div class="form-row">
            <div class="form-group form-check col-md-2 ml-4">
                {{ with_errors(form.change_password, class_='form-check-input') }}
                {{ form.change_password.label }}
            </div>
            <div class="form-group col-md-4">
                {{ with_errors(form.password, class_='form-control', placeholder=form.password.label.text) }}
            </div>
            <div class="form-group col-md-4">
                {{ with_errors(form.password_confirm, class_='form-control', placeholder=form.password_confirm.label.text) }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form.first_name.label }}
                {{ with_errors(form.first_name, class_='form-control') }}
            </div>
            <div class="form-group col-md-6">
                {{ form.last_name.label }}
                {{ with_errors(form.last_name, class_='form-control') }}
            </div>
        </div>
        <div class="form-group">
            {{ form.email.label }}
            {{ with_errors(form.email, class_='form-control') }}
        </div>
        <div class="form-group">
            {{ form.member_type.label }}
            {{ with_errors(form.member_type, class_='form-control') }}
        </div>

        {{ form.save(class_="btn btn-primary") }}
        <a href="{{ url_for('members.index') }}" class="btn btn-secondary">Cancel</a>
    </form>
{% endblock %}
