{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Members{% endblock %}</h1>
{% endblock %}

{% block content %}
    <table class="table" id="memberTable">
    <thead>
    <tr>
        <th>Last</th>
        <th>First</th>
        <th>Username</th>
        <th>Email</th>
        <th>Account Type</th>
        <th>Last Login</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for m in members %}
        <tr>
        <td>{{ m.lname }}</td>
        <td>{{ m.fname }}</td>
        <td>{{ m.username }}</td>
        <td>{{ m.email }}</td>
        <td>{{ m.get_account_type() }}</td>
        <td>{{ m.lastlogin }}</td>
        <td>
            <a href="{{ url_for('members.edit_user', user_id=m.id) }}" class="btn btn-primary btn-sm" role="button">Edit</a>
            <a href="#" class="btn btn-danger btn-sm" role="button">Delete</a>
        </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}

{% block pagescript %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

    <script type="text/javascript">
    $(document).ready( function () {
        $('#memberTable').DataTable( {
            "order": [[0, "asc"],[1, "asc"]]
        } );
    });
    </script>
{% endblock %}
