{% extends 'base.html' %}
{% from '_formhelpers.html' import with_errors %}

{% if from_show is not defined %}
{% set from_show = None %}
{% endif %}

{% block header %}
    <h1>{% block title %}Technical Readout{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    {{ form.name.label }}
                    {{ with_errors(form.name, class_='form-control') }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    {{ form.mul_id.label }}
                    {{ with_errors(form.mul_id, class_='form-control') }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    {{ form.subtype.label }}
                    {{ with_errors(form.subtype, class_='form-control') }}
                </div>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-outline-secondary" onclick="search_mul();"><i
                        class="fas fa-search"></i> Search MUL
                </button>
                <p><small>Leave MUL ID blank to search with the name and model.</small></p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    {{ form.tro_type.label }}
                    {{ with_errors(form.tro_type, class_='form-control') }}
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    {{ form.weight.label }}
                    {{ with_errors(form.weight, class_='form-control') }}
                </div>
            </div>
        </div>

        <div class="form-group">
            {{ form.text.label }}
            {{ with_errors(form.text, rows="10", class_='form-control') }}
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    {{ form.battle_value.label }}
                    {{ with_errors(form.battle_value, class_='form-control') }}
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    {{ form.cost.label }}
                    {{ with_errors(form.cost, class_='form-control') }}
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    {{ form.year_introduced.label }}
                    {{ with_errors(form.year_introduced, class_='form-control') }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    {{ form.rules_level.label }}
                    {{ with_errors(form.rules_level, class_='form-control') }}
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    {{ form.technology.label }}
                    {{ with_errors(form.technology, class_='form-control') }}
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    {{ form.unit_role.label }}
                    {{ with_errors(form.unit_role, class_='form-control') }}
                </div>
            </div>
        </div>

        <hr>
        <div class="row">
            <div class="col">
                <h2>Alpha Strike Stats</h2>
            </div>
            <div class="col">
                <button type="button" id="lookupstats" class="btn btn-outline-info"><i class="fas fa-search"></i> Look Up Stats</button>
            </div>
        </div>
        <div class="form-group">
            {{ form.point_value.label }}
            {{ with_errors(form.point_value, class_='form-control') }}
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    {{ form.as_size.label }}
                    {{ with_errors(form.as_size, class_='form-control') }}
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    {{ form.as_move.label }}
                    {{ with_errors(form.as_move, class_='form-control') }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    {{ form.as_armor.label }}
                    {{ with_errors(form.as_armor, class_='form-control') }}
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    {{ form.as_structure.label }}
                    {{ with_errors(form.as_structure, class_='form-control') }}
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    {{ form.as_damage_threshold.label }}
                    {{ with_errors(form.as_damage_threshold, class_='form-control') }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    {{ form.as_short.label }}
                    {{ with_errors(form.as_short, class_='form-control') }}
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    {{ form.as_medium.label }}
                    {{ with_errors(form.as_medium, class_='form-control') }}
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    {{ form.as_long.label }}
                    {{ with_errors(form.as_long, class_='form-control') }}
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    {{ form.as_overheat.label }}
                    {{ with_errors(form.as_overheat, class_='form-control') }}
                </div>
            </div>
        </div>
        <div class="form-group">
            {{ form.as_special.label }}
            {{ with_errors(form.as_special, class_='form-control') }}
        </div>

        <p>
            {{ form.submit(class_='btn btn-primary') }}
            {% if tro_id %}
                <a href="{{ url_for('techreadout.delete', tro_id=tro_id) }}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this record?');">Delete</a>
            {% endif %}
            {% if from_show is none %}
                <a href="{{ url_for('techreadout.index') }}" class="btn btn-secondary">Back</a>
            {% else %}
                <a href="{{ url_for('techreadout.show', tro_id=tro_id) }}" class="btn btn-secondary">Back</a>
            {% endif %}
        </p>

    </form>

    <div class="modal fade" id="selectImportModel" tabindex="-1" role="dialog" aria-labelledby="importModelTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="importModelTitle">Select Model to Import</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div id="selectImportModelContent"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="doImportModel">Import</button>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block pagescript %}
    <script type="text/javascript">
        function do_update(data) {
            // console.log(data['entries'][0]['pv']);
            $("#name").val(data['name']);
            $("#subtype").val(data['model']);
            $("#point_value").val(data['pv']);
            $("#as_size").val(data['size']);
            $("#as_move").val(data['move']);
            $("#as_armor").val(data['arm']);
            $("#as_structure").val(data['str']);
            $("#as_damage_threshold").val(data['dt']);
            $("#as_short").val(data['s']);
            $("#as_medium").val(data['m']);
            $("#as_long").val(data['l']);
            $("#as_overheat").val(data['ov']);
            $("#as_special").val(data['special']);
        }
        function show_selection(data) {
            let model_select_form = "<form>";
            for (let i = 0; i < data.length; i++) {
                model_select_form += '<div class="form-check my-1">';
                model_select_form += '<input class="form-check-input" type="radio" name="model" id="model' + i + '" value="' + data[i]['name'] + "|" + data[i]['model'] + '">';
                model_select_form += '<label class="form-check-label" for="model' + i + '">';
                model_select_form += data[i]['name'] + ' ' + data[i]['model'];
                model_select_form += '</label>';
                model_select_form += '</div>';
            }
            model_select_form += "</ol>";
            $('#selectImportModelContent').html(model_select_form);
            $('#selectImportModel').modal('show');
        }
        $(function () {
            $("#lookupstats").click(function () {
                let search_name = $('#name').val();
                let search_model = $('#subtype').val();
                let postData = {};
                if ($.trim(search_model) !== "") {
                    postData = {name: search_name, model: search_model};
                } else {
                    postData = {name: search_name};
                }
                $.getJSON('{{ url_for('techreadout.import_csv') }}', postData, function (data) {
                    let which = 0;
                    if (data['entries'].length > 0 ) {
                        if (data['entries'].length > 1) {
                            show_selection(data['entries']);
                        } else {
                            do_update(data['entries'][which]);
                        }
                    } else {
                        alert('No Alpha Strike stats found for ' + search_name);
                    }
                });
            });
            $("#doImportModel").click(function () {
                $("#selectImportModel").modal('hide');
                let value_parts = $("input[name='model']:checked").val().split("|");
                let postData = {
                    name: value_parts[0],
                    model: value_parts[1]
                };
                $.getJSON('{{ url_for('techreadout.import_csv') }}', postData, function (data) {
                    do_update(data['entries'][0]);
                })
            });
        });
        function search_mul() {
            let search_url = "";
            let mul_id = $('#mul_id').val();
            if (mul_id.trim() === "" ) {
                let my_name = $('#name').val();
                let my_subtype = $('#subtype').val();
                if (my_name.trim() !== "" || my_subtype !== "") {
                    search_url = "http://masterunitlist.info/Unit/Filter?Name=" + my_name + "+" + my_subtype;
                }
            } else {
                search_url = "http://masterunitlist.info/Unit/Details/" + mul_id;
            }
            if (search_url.trim() !== "") {
                window.open(search_url, "");
            } else {
                alert('You must have filled out a name, model, or MUL ID to search');
            }
        }
    </script>
{% endblock %}
