{% extends 'base.html' %}
{% from '_formhelpers.html' import with_errors %}

{% block header %}
    <h1>{% block title %}Import Technical Readout{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form action="{{ url_for('techreadout.import_mtf') }}" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.mtf_file.label }}
            {{ with_errors(form.mtf_file, class_='form-control') }}
        </div>
        <div class="form-check">
            {{ with_errors(form.can_overwrite, class_="form-check-input") }}
            <label class="form-check-label" for="can_overwrite">Overwrite Existing</label>
        </div>
        <div class="form-check">
            {{ with_errors(form.import_stats, class_="form-check-input") }}
            <label class="form-check-label" for="import_stats">Import Alpha Strike Stats</label>
        </div>
        <p class="my-2">
            {{ form.submit(class="btn btn-primary") }}
            <a href="{{ url_for('techreadout.index') }}" class="btn btn-secondary">Back</a>
        </p>
    </form>
{% endblock %}
