{% extends 'base.html' %}

{% block header %}
    <div class="row">
    <div class="col-md-10">
    <h1>{% block title %}Technical Readouts{% endblock %}</h1>
    </div>
    <div class="col-md-2">
    {% if current_user.is_authenticated and current_user.is_admin() %}
        <a class="btn btn-success" href="{{ url_for('techreadout.create') }}">New</a>
        <a class="btn btn-outline-info" href="{{ url_for('techreadout.import_mtf') }}">Import</a>
    {% endif %}
    </div>
    </div>
{% endblock %}

{% block content %}
    <div class="table-responsive-md">
        <table class="table" id="troTable">
        <thead>
        <tr>
            <th>Name</th>
            <th>Model</th>
            <th>Weight</th>
            <th>BV</th>
            <th>PV</th>
            <th>Rules</th>
            <th>Type</th>
            <th>Intro</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
            {% for tro in tro_list %}
                <tr>
                    <td>{{ tro.name }}</td>
                    <td>{{ tro.subtype }}</td>
                    <td>{{ tro.weight }}</td>
                    <td>{{ tro.battleValue }}</td>
                    <td>{{ tro.pointValue }}</td>
                    <td>{{ tro.getRulesLevel() }}</td>
                    <td>{{ tro.getType() }}</td>
                    <td>{{ tro.yearIntroduced }}</td>
                    <td>
                        <a href="{{ url_for('techreadout.show', tro_id=tro.id) }}" class="btn btn-secondary btn-sm">View</a>
                        {% if current_user.is_authenticated %}
                            {% if current_user.is_admin() %}
                                <a href="{{ url_for('techreadout.edit', tro_id=tro.id) }}" class="btn btn-primary btn-sm">Edit</a>
                            {% endif %}
                            {% if tro.mulId %}
                                <a href="http://masterunitlist.info/Unit/Details/{{ tro.mulId }}" class="btn btn-outline-info btn-sm" target="_blank">MUL</a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
{% endblock %}

{% block pagescript %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

    <script type="text/javascript">
    $(document).ready( function () {
        $('#troTable').DataTable( {
            "order": [[0, "asc"],[1, "asc"]]
        } );
    });
    </script>
{% endblock %}
