{% extends 'base.html' %}

{% block header %}
    <div class="row">
    <div class="col-md-10">
    <h1>{% block title %}Technical Readout{% endblock %}</h1>
    </div>
    <div class="col-md-2">
        {% if current_user.is_authenticated and current_user.is_admin() %}
            <a href="{{ url_for('techreadout.edit', tro_id=tro.id) }}?from_show=True" class="btn btn-primary">Edit</a>
        {% endif %}
    </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col mx-1">Name and Model</div>
        <div class="col mx-1">Type</div>
        <div class="col mx-1">Weight</div>
    </div>
    <div class="row">
        <div class="col border mx-1">{{ tro.full_name() }}</div>
        <div class="col border mx-1">{{ tro.getType() }}</div>
        <div class="col border mx-1 text-right">{{ tro.weight }}</div>
    </div>
    <div class="row mt-2">
        <div class="col mx-1">Specs</div>
    </div>
    <div class="row">
        <div class="col border mx-1">
            <pre class="pre-scrollable"><code>
{{ tro.text }}
            </code></pre>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col mx-1">Battle Value</div>
        <div class="col mx-1">Cost</div>
        <div class="col mx-1">Year Introduced</div>
    </div>
    <div class="row">
        <div class="col border mx-1 text-right">{{ tro.battleValue|number_comma_format }}</div>
        <div class="col border mx-1 text-right">{{ tro.cost|number_comma_format }}</div>
        <div class="col border mx-1 text-right">{{ tro.yearIntroduced }}</div>
    </div>
    <div class="row mt-2">
        <div class="col mx-1">Rules Level</div>
        <div class="col mx-1">Technology</div>
        <div class="col mx-1">Role</div>
    </div>
    <div class="row">
        <div class="col border mx-1">{{ tro.getRulesLevel() }}</div>
        <div class="col border mx-1">{{ tro.getTechLevel() }}</div>
        <div class="col border mx-1">{% if tro.unitRole %} {{ tro.unitRole.name }} {% else %} None {% endif %}</div>
    </div>

    <div class="ascard">
        <div class="row border-top mt-4">
            <div class="col mx-1"><h3>Alpha Strike Stats</h3></div>
        </div>

        <div class="row mt-2">
            <div class="col mx-1">Point Value</div>
            <div class="col mx-1">Size</div>
            <div class="col mx-1">Move</div>
        </div>
        <div class="row">
            <div class="col border mx-1 ascard-box text-right">{{ tro.pointValue }}</div>
            <div class="col border mx-1 ascard-box text-right">{{ tro.asSize }}</div>
            <div class="col border mx-1 ascard-box text-right">{{ tro.asMove }}</div>
        </div>

        <div class="row mt-2">
            <div class="col mx-1">Armor</div>
            <div class="col mx-1">Structure</div>
            <div class="col mx-1">Damage Threshold</div>
        </div>
        <div class="row">
            <div class="col border mx-1 ascard-box text-right">{{ tro.asArmor }}</div>
            <div class="col border mx-1 ascard-box text-right">{{ tro.asStructure }}</div>
            <div class="col border mx-1 ascard-box text-right">{{ tro.asDamageThreshold }}</div>
        </div>

        <div class="row mt-2">
            <div class="col mx-1"><h4>Damage</h4></div>
        </div>
        <div class="row d-none d-sm-flex">
            <div class="col-sm-2 mx-1">Short</div>
            <div class="col-sm-2 mx-1">Medium</div>
            <div class="col-sm-2 mx-1">Long</div>
            <div class="col-sm-2 mx-1">Over Heat</div>
        </div>
        <div class="row">
            <div class="col-sm-1 d-flex d-sm-none">Short</div>
            <div class="col-sm-2 border mx-1 ascard-box">{{ tro.asShort }}</div>
            <div class="col-sm-1 d-flex d-sm-none">Medium</div>
            <div class="col-sm-2 border mx-1 ascard-box">{{ tro.asMedium }}</div>
            <div class="col-sm-1 d-flex d-sm-none">Long</div>
            <div class="col-sm-2 border mx-1 ascard-box">{{ tro.asLong }}</div>
            <div class="col-sm-1 d-flex d-sm-none">Over Heat</div>
            <div class="col-sm-2 border mx-1 ascard-box">{{ tro.asOverheat }}</div>
        </div>

        <div class="row mt-2">
            <div class="col-sm-1 mx-1">Special</div>
            <div class="col-sm-11 border mx-1 ascard-box text-truncate">{{ tro.asSpecial }}</div>
        </div>
    </div>

{% endblock %}
