{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Help{% endblock %}</h1>
{% endblock %}

{% block content %}
    <h2>Building a Unit</h2>
    <hr>
    <h3>Crew</h3>

    <p>
        Start by generating Mechwarriors (Crew -> New). When you are creating a new crew member, you can generate a
        random name by selecting the Gender and Ancestry and clicking the Random Name button.
    </p>
    <p>
        The Rank and Callsign fields are just for color, but Rank will affect the sorting on the Unit page.
    </p>

    <h4 class="text-muted">Skills</h4>
    <p>
        When you click save on a new crew member you will be taken to the Edit Crew page where you can select a
        Position. That drives the skill selection.
    </p>
    <p>
        For example, select the Mechwarrior position and then click the Apply button below. That will generate the
        Piloting and Gunnery skills using the random skill table from Total War. Other positions will have their own
        skill sets.
    </p>
    <hr>
    <h3>Equipment</h3>
    <p>
    The next step is to select your BattleMechs (or vehicles, etc) on the Equipment page (Equipment -> New).  The
    equipment type will default to Mech, but you can select other types.
    </p>
    <p>
    The Technical Readout box is where you select the type of Mech.  Once you do it will populate the Name, Model, and
    Weight fields.  Add any notes and click Create to save.
    </p>
    <h4 class="text-muted">Pilots</h4>
    <p>
    Like the Crew, the next page will be the Edit page where you will assign a Crew member to your equipment.  Click the
    Crew drop-down and select a pilot.  Click save to return to the Equipment roster page.
    </p>
    <hr>
    <h3>Unit</h3>
    <p>
    Mechwarriors and Mech will be grouped into Lances or Stars which are grouped into Companies, Binaries, etc.  Create
    a new Unit (Unit -> New) and you will be prompted for a Unit Name.  The Unit Type selection will determine what Crew
    is available to be assigned to this Unit.
    </p>
    <p>
    The Organization Level and Unit Image change how the unit is displayed in the roster.  The basic unit group will be
    the "Lance/Platoon/Flight/Star".  The Unit Image lets you select an Icon to represent the type of Equipment.
    </p>
    <p>
    Select a crew member from the Assigned Crew box to start assigning pilots and their Mechs to the Unit.  Click Apply
    to save the Unit and continue to add Crew, or Save to finish out to the main Unit page.
    </p>
    <h4 class="text-muted">Subunits</h4>
    <p>
    You can also create groups of Units to as Companies/Trinaries/etc. by creating a new Unit and using the last selection
    box, Subunit, to assign unattached units to the new Unit.
    </p>
    <p>
    Note that with both Crew and Subunits, you can Detach them from their Unit to be able to assign/attach them to another
    one.
    </p>
{% endblock %}
