{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Welcome{% endblock %}</h1>
{% endblock %}

{% block content %}
    <dl class="row">
        <dt class="col-sm-2">Game Date:</dt>
        <dd class="col-sm-10">{{ game_dates.show_current_date() }}</dd>
        <dt class="col-sm-2">Located On:</dt>
        <dd class="col-sm-10">{{ current_location|safe }}</dd>
    </dl>
    <h4>Forces</h4>
    <table class="table">
    <thead>
    <tr>
        <th>Unit</th>
        <th>Player</th>
        <th>Mechs</th>
        <th>Vehicles</th>
        <th>Total PV</th>
    </tr>
    </thead>
    <tbody>
    {% for this_unit in units %}
    <tr>
        <td><a href="{{ url_for('unit.show', unit_id=this_unit.id) }}">{{ this_unit.name }}</a></td>
        <td>{{ this_unit.getOwner() }}</td>
        {# FIXME: is there a way to avoid hardcoding these equipment type IDs? #}
        <td>{{ this_unit.count_eqpt_type(1) }}</td>
        <td>{{ this_unit.count_eqpt_type(2) }}</td>
        <td>{{ this_unit.get_point_value() }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    <hr>
    <h4>Resources</h4>
    <p></p><a href="https://www.sarna.net/wiki/Main_Page">The BattleTech Wiki at Sarna.net</a></p>
    <p></p><a href="http://www.masterunitlist.info/">The BattleTech Master Unit List</a></p>
{% endblock %}
