@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

@media screen {
    .alphastrikecard {
        margin: 2rem;
    }

    .table-fullsize {
        width: 800px;
    }

    .table-halfsize {
        width: 398px;
    }

}

@media print {
    @page {
        margin: 1.0cm 2.0cm;
    }

    .alphastrikecard {
        width: 612px;
        margin: 8px auto;
        break-inside: avoid-page;
    }

    .table-fullsize {
        width: 604px;
    }

    .table-halfsize {
        width: 300px;
    }

    body {
        font-size: 8pt;
        font-family: 'Georgia', "Times New Roman", serif;
        /* line-height: 0.95; */
    }
}

.stats-group {
    margin-bottom: 2px;
    border: thin solid black;
    /* background-color: lightgrey; */
}

.stats-label-first {
    width: 8%;
}

.stats-label {
    width: 8%;
    padding-left: 1rem;
}

.stats-column {
     width: 15%;
}

.stats-bold {
    font-weight: bold;
    font-family: 'Ubuntu', 'Verdana', sans-serif
}

.stats-large {
    font-size: larger;
}

.table-block {
    border: solid thick black;
    /* background-color: lightgrey; */
}

td

.marking-box {
    padding-bottom: 4px;
}

.armor {
    padding: 2px;
}

.structure {
    padding: 2px;
    background-color: lightgrey;
}

.heat {
    background-color: white;
}

.vert-label {
    writing-mode: vertical-lr;
    text-orientation: mixed;
}

.unit-subtype {
    font-size: 11pt;
    font-family: 'Consolas', 'Lucida Console', monospace;
}

.unit-title {
    font-size: 14pt;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Arial Black', 'Ubuntu', sans-serif; */
}

.crit-type {
    text-align: right;
    text-transform: uppercase;
    font-size: smaller;
}

.damage-header {
    width: 64px;
}

.damage-type {
    padding-right: 8px;
    text-align: right;
}

.damage-amount {
    width: 32px;
    border: thin solid black;
    text-align: center;
}

.damage-last {
    margin-right: 32px;
}

.special {
    font-family: 'Ubuntu', 'Verdana', sans-serif
}