body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.alert-message { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; }

.unit-label {
  padding-top: 4px;
  background: antiquewhite;
  color: black;
}

.ascard {
  width: 75%;
  margin: 1rem 0 2rem 1rem;
  padding: 0 1rem 1rem 1rem;
  background: antiquewhite;
}

.ascard-box {
  background: white;
}