{% extends 'base.html' %}
{% from "_formhelpers.html" import with_errors %}

{% block header %}
    <h1>{% block title %}Log Entry{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    {{ form.during.label }}
                    {{ with_errors(form.during, class_='form-control') }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    {{ form.log_type.label }}
                    {{ with_errors(form.log_type, class_='form-control') }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    {{ form.start_date.label }}
                    {{ with_errors(form.start_date, class_='form-control') }}
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    {{ form.end_date.label }}
                    {{ with_errors(form.end_date, class_='form-control') }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ form.place.label }}
                    {{ with_errors(form.place, class_='form-control') }}
                </div>
            </div>
        </div>
        <div class="form-group">
            {{ form.topic.label }}
            {{ with_errors(form.topic, class_='form-control') }}
        </div>
        <div class="form-group">
            {{ form.text.label }}
            {{ with_errors(form.text, class_='form-control', rows='15') }}
        </div>
        <div class="my-4">
        {{ form.save_and_close(class_="btn btn-primary") }}
        {% if form.during.data == -1 %}
            <a href="{{ url_for('contracts.index') }}" class="btn btn-secondary">Cancel</a>
        {% else %}
            <a href="{{ url_for('contracts.show', contract_id=form.during.data) }}" class="btn btn-secondary">Cancel</a>
        {% endif %}
        </div>
    </form>
{% endblock %}
