{% extends 'base.html' %}
{% from "_formhelpers.html" import with_errors %}

{% block header %}
    <h1>{% block title %}Contracts{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.name.label }}
            {{ with_errors(form.name, class_='form-control') }}
        </div>

        <div class="form-group">
            {{ form.start.label }}
            {{ with_errors(form.start, class_='form-control') }}
        </div>

        <div class="form-group">
            {{ form.end.label }}
            {{ with_errors(form.end, class_='form-control') }}
        </div>

        <div class="form-group">
            {{ form.employer.label }}
            {{ with_errors(form.employer, class_='form-control') }}
        </div>

        <div class="form-group">
            {{ form.mission_type.label }}
            {{ with_errors(form.mission_type, class_='form-control') }}
        </div>

        <div class="form-group">
            {{ form.target.label }}
            {{ with_errors(form.target, class_='form-control') }}
        </div>

        <div class="form-group">
            {{ form.result.label }}
            {{ with_errors(form.result, class_='form-control') }}
        </div>

        {{ form.save_and_close(class_="btn btn-primary") }}
        <a href="{{ url_for('contracts.index') }}" class="btn btn-secondary">Cancel</a>
    </form>
{% endblock %}
