{% extends 'base.html' %}

{% block header %}
    <div class="row">
        <div class="col-11">
            <h1>{% block title %}Contracts{% endblock %}</h1>
        </div>
        <div class="col">
            {% if current_user.is_authenticated %}
                <p class=""><a href="{{ url_for('contracts.add') }}" class="btn btn-primary" role="button">Add</a></p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block content %}
    {% for rec in contract_list %}
        <div class="text-light p-3 mt-1" style="background-color: darkgray">
            {{ rec.name }} (Contract #{{ rec.id }})
            <div class="float-right">
                <a href="{{ url_for('contracts.show', contract_id=rec.id) }}" class="btn btn-outline-light btn-sm" role="button">View</a>
                <a href="{{ url_for('contracts.edit', contract_id=rec.id) }}" class="btn btn-outline-light btn-sm" role="button">Edit</a>
            </div>
        </div>
        <table class="table table-sm">
            <tr><th>Begins:</th><td>{{ rec.start }}</td></tr>
            <tr><th>Ends:</th><td>{{ rec.end }}</td></tr>
            <tr><th>Employer:</th><td>{{ rec.employer }}</td></tr>
            <tr><th>Type:</th><td>{{ rec.missionType }}</td></tr>
            <tr><th>Location:</th><td>{{ rec.target }}</td></tr>
            <tr><th>Status:</th><td>{{ rec.result }}</td></tr>
        </table>
    {% endfor %}
{% endblock %}
