{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}{{ rec.name }}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <a href="{{ url_for('contracts.index') }}" class="btn btn-outline-secondary btn-sm" role="button">Back</a>
    <p class="lead mt-4">Contract Information</p>
    <table class="table table-sm">
        <tr><th>Begins:</th><td>{{ rec.start }}</td></tr>
        <tr><th>Ends:</th><td>{{ rec.end }}</td></tr>
        <tr><th>Employer:</th><td>{{ rec.employer }}</td></tr>
        <tr><th>Type:</th><td>{{ rec.missionType }}</td></tr>
        <tr><th>Location:</th><td>{{ rec.target }}</td></tr>
        <tr><th>Status:</th><td>{{ rec.result }}</td></tr>
    </table>
    <div class="row mt-4">
        <div class="col-md-11">
            <p class="lead">Contract Related Log Entries</p>
        </div>
        <div class="col-md-1">
            <a href="{{ url_for('contracts.create_log') }}?contract_id={{ rec.id }}" class="btn btn-primary btn-sm">Add</a>
        </div>
    </div>
    {% if rec.has_logs() %}
        <table class="table table-sm">
            <tr>
                <th>Log's Topic</th>
                <th>Log's Type</th>
                <th>Game Date</th>
            </tr>
            {% for log_entry in rec.get_logs(current_user_level) %}
                <tr>
                    <td><a href="{{ url_for('contracts.show_log', log_id=log_entry.id) }}">{{ log_entry.topic }}</a></td>
                    <td>{{ log_entry.logtype.type }}</td>
                    <td>{{ log_entry.start }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No Log Entries</p>
    {% endif %}
{% endblock %}
