{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Log Entry{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-11">
            <p class="lead">{{ rec.topic }}</p>
        </div>
        <div class="col-md-1">
            <a href="{{ url_for('contracts.edit_log', log_id=rec.id) }}" class="btn btn-primary btn-sm">Edit</a>
        </div>
    </div>
    <p>
        <strong>{{ rec.start|formatdate }}</strong>
        {% if rec.end %}
            to <strong>{{ rec.end|formatdate }}</strong>
        {% endif %}
        at <strong>{{ rec.place }}</strong>
        during <strong>{{ rec.contract.name }}</strong>
    </p>
    <div class="border bg-light px-3 mb-2">
        <p>{{ rec.md2html()|safe }}</p>
    </div>
    <p>Filed Under: {{ rec.logtype.type }}</p>
    <a href="{{ url_for('contracts.show', contract_id=rec.contract.id) }}" class="btn btn-secondary my-2" role="button">Back</a>
    {% endblock %}
