{% extends 'base.html' %}
{% from '_formhelpers.html' import with_errors %}

{% block header %}
    <h1>{% block title %}Campaign Dates{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post" action="{{ url_for('settings.dates') }}">
        {{ form.hidden_tag() }}
        <div class="row my-2">
            <div class="col-2">
                {{ form.starting_date.label }}
            </div>
            <div class="col-2">
                {{ with_errors(form.starting_date, class_='form-control') }}
            </div>
        </div>
        <div class="row my-2">
            <div class="col-2">
                {{ form.current_date.label }}
            </div>
            <div class="col-2">
                {{ with_errors(form.current_date, class_='form-control') }}
            </div>
        </div>
        <div class="row my-2">
            <div class="col-2">
                {{ form.ending_date.label }}
            </div>
            <div class="col-2">
                {{ with_errors(form.ending_date, class_='form-control') }}
            </div>
        </div>
        {% if current_user.is_admin() %}
            <div class="row my-2">
                <div class="col-2">
                    {{ form.save(class_='btn btn-primary') }}
                </div>
            </div>
        {% endif %}
    </form>
{% endblock %}
