{% extends 'base.html' %}
{% from "_formhelpers.html" import with_errors %}

{% block header %}
    <h1>{% block title %}Edit Equipment Types{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.type_name.label }}
            {{ with_errors(form.type_name, class_='form-control') }}
        </div>
        <div class="form-group">
            {{ form.id_number.label }}
            {{ with_errors(form.id_number, class_='form-control') }}
        </div>
        <div class="form-group">
            {{ form.max_weight.label }}
            {{ with_errors(form.max_weight, class_='form-control') }}
        </div>
        <div class="form-group">
            {{ form.min_weight.label }}
            {{ with_errors(form.min_weight, class_='form-control') }}
        </div>
        <div class="form-group">
            {{ form.weight_step.label }}
            {{ with_errors(form.weight_step, class_='form-control') }}
        </div>
        <div class="form-group">
            {{ form.weight_scale.label }}
            {{ with_errors(form.weight_scale, class_='form-control') }}
        </div>
        <div class="form-group">
            {{ form.requirement.label }}
            {{ with_errors(form.requirement, class_='form-control') }}
        </div>
        <div class="form-group form-check mb-2">
            {{ with_errors(form.in_use, class_='form-check-input') }}
            {{ form.in_use.label }}
        </div>

        {{ form.save(class_="btn btn-success") }}
        {{ form.save_and_close(class_="btn btn-primary") }}
        <a href="{{ url_for('settings.index') }}" class="btn btn-secondary">Cancel</a>
    </form>
{% endblock %}
