{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Settings{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-3">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-eqpttypes-list" data-toggle="list"
                   href="#list-eqpttypes" role="tab" aria-controls="home">Equipment Types</a>
                <a class="list-group-item list-group-item-action" id="list-skills-list" data-toggle="list"
                   href="#list-skills" role="tab" aria-controls="home">Skills and Traits</a>
                <a class="list-group-item list-group-item-action" id="list-personnel-list" data-toggle="list"
                   href="#list-personnel" role="tab" aria-controls="home">Personnel Types</a>
                <a class="list-group-item list-group-item-action" id="list-unittypes-list" data-toggle="list"
                   href="#list-unittypes" role="tab" aria-controls="home">Unit Types</a>
                <a class="list-group-item list-group-item-action" id="list-levels-list" data-toggle="list"
                   href="#list-unitlevels" role="tab" aria-controls="home">Unit Levels</a>
                <a class="list-group-item list-group-item-action" id="list-ranks-list" data-toggle="list"
                   href="#list-ranks" role="tab" aria-controls="home">Personnel Ranks</a>
                <a class="list-group-item list-group-item-action" id="list-special-list" data-toggle="list"
                   href="#list-special" role="tab" aria-controls="home">Special Abilities</a>
            </div>
        </div>
        <div class="col-8 offset-1">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-eqpttypes" role="tabpanel"
                     aria-labelledby="list-eqpttypes-list">
                    {% for rec in equipment_types %}
                        <div class="row">
                            <div class="col-3">
                                <a href="{{ url_for('settings.equipment_types', eqpt_type_id=rec.id) }}">{{ rec.name }}</a>
                            </div>
                            <div class="col-2">
                                ID: {{ rec.id }}
                            </div>
                            <div class="col-3">
                                {{ rec.minWeight }} - {{ rec.maxWeight }} (step {{ rec.weightStep }})
                            </div>
                            <div class="col-1">
                                <span class="badge badge-info">{{ rec.get_card_code() }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="tab-pane fade" id="list-skills" role="tabpanel" aria-labelledby="list-skills-list">
                    {% for rec in skill_types %}
                        <div class="row">
                            <div class="col-sm-4">
                                <a href="{{ url_for('settings.skill_types', skill_type_id=rec.id) }}">{{ rec.name }}</a>
                            </div>
                            <div class="col-sm-4">({{ rec.shortname }})</div>
                        </div>
                    {% endfor %}
                </div>
                <div class="tab-pane fade" id="list-personnel" role="tabpanel" aria-labelledby="list-personnel-list">
                    {% for rec in personnel_types %}
                        <div class="row">
                            <div class="col-3">
                                <a href="{{ url_for('settings.crew_types', crew_type_id=rec.id) }}">{{ rec.type }}</a>
                            </div>
                            <div class="col-3">
                                {{ rec.get_equipment_type() }}
                            </div>
                            <div class="col-3">
                                {% if rec.squad %}
                                    <span class="badge badge-primary">Squad Leader</span>
                                {% endif %}
                            </div>
                            <div class="col-3">
                                {% if rec.equipment %}
                                    <span class="badge badge-info">Equipment</span>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="tab-pane fade" id="list-unittypes" role="tabpanel" aria-labelledby="list-unittypes-list">
                    {% for rec in unit_types %}
                        <div class="row my-2">
                            <div class="col">
                                <a href="{{ url_for('settings.unit_types', unit_type_id=rec.id) }}">{{ rec.name }}</a>
                            </div>
                            <div class="col">
                                <div style="background-color: {{ rec.color }};">
                                    {{ rec.color }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="tab-pane fade" id="list-unitlevels" role="tabpanel" aria-labelledby="list-unitlevels-list">
                    {% for rec in unit_levels %}
                        <div class="row">
                            <div class="col-5">
                                <a href="{{ url_for('settings.unit_levels', unit_level_id=rec.id) }}">{{ rec.name }}</a>
                            </div>
                            <div class="col-3">
                                <img src="{{ url_for('static', filename="images/unitlevel/{}".format(rec.picture)) }}" alt="{{ rec.picture }}">
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="tab-pane fade" id="list-ranks" role="tabpanel" aria-labelledby="list-ranks-list">
                    {% for rec in ranks %}
                        <div class="row">
                            <div class="col-3"><a href="{{ url_for('settings.ranks', rank_id=rec.id) }}">{{ rec.name }}</a></div>
                        </div>
                    {% endfor %}
                </div>
                <div class="tab-pane fade" id="list-special" role="tabpanel" aria-labelledby="list-special-list">
                    {% for rec in special %}
                        <div class="row">
                        <div class="col-3">
                            <a href="{{ url_for('settings.ability_types', ability_type_id=rec.id) }}">{{ rec.name }}</a>
                        </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
