{% extends 'base.html' %}
{% from "_formhelpers.html" import with_errors %}

{% block header %}
    <h1>{% block title %}Edit Personnel Types{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.type_name.label }}
            {{ with_errors(form.type_name, class_='form-control') }}
        </div>
        <div class="form-group">
            {{ form.equipment.label }}
            {{ with_errors(form.equipment, class_='form-control') }}
        </div>
        <div class="form-group form-check mb-2">
            {{ with_errors(form.is_squad, class_='form-check-input') }}
            {{ form.is_squad.label }}
        </div>
        <div class="form-group form-check mb-2">
            {{ with_errors(form.can_equip, class_='form-check-input') }}
            {{ form.can_equip.label }}
        </div>

        {{ form.save(class_="btn btn-success") }}
        {{ form.save_and_close(class_="btn btn-primary") }}
        <a href="{{ url_for('settings.index') }}" class="btn btn-secondary">Cancel</a>
    </form>
{% endblock %}
