{% extends 'base.html' %}
{% from "_formhelpers.html" import with_errors %}

{% block header %}
    <h1>{% block title %}Edit Unit Types{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.type_name.label }}
            {{ with_errors(form.type_name, class_='form-control') }}
        </div>
        <div class="form-group">
            {{ form.color.label }}
            {{ with_errors(form.color, class_='form-control') }}
        </div>

        {{ form.save_and_close(class_="btn btn-primary") }}
        <a href="{{ url_for('settings.index') }}" class="btn btn-secondary">Cancel</a>
    </form>
{% endblock %}

<!-- unit type
color
change button
delete button -->
