{% extends 'base.html' %}
{% from "_formhelpers.html" import with_errors %}

{% block header %}
    <h1>{% block title %}Edit Unit Level{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.level_name.label }}
            {{ with_errors(form.level_name, class_='form-control') }}
        </div>
        <div class="form-group">
            {{ form.pref_pos.label }}
            {{ with_errors(form.pref_pos, class_='form-control') }}
        </div>
        <div class="form-group">
            {{ form.picture.label }}
            {{ with_errors(form.picture, class_='form-control') }}
        </div>

        {{ form.save_and_close(class_="btn btn-primary") }}
        <a href="{{ url_for('settings.index') }}" class="btn btn-secondary">Cancel</a>
    </form>
{% endblock %}
