{% macro render_field(field) %}
  <dt>{{ field.label }}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class="errors">
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}
{% macro with_errors(field) %}
    {% if field.errors %}
    <div class="form-group has-error">
        {% set css_class = '' + kwargs.pop('class_', '') %}
        {{ field(class=css_class, **kwargs) }}
        <ul class="errors">{% for error in field.errors %}<li class="text-danger">{{ error|e }}</li>{% endfor %}</ul>
    </div>
    {% else %}
        {{ field(**kwargs) }}
    {% endif %}
{% endmacro %}
