<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>BattleTech Roster - {% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <script src="https://kit.fontawesome.com/2048219275.js"></script>
    {% block headerscript %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <a href="{{ url_for('index') }}" class="navbar-brand mb-0">
        <img src="{{ url_for('static', filename="images/btechdb_logo_sm.png") }}"  width="30" height="30" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMainmenu" aria-controls="navbarMainmenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMainmenu">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">Home</a></li>
            {% if current_user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('roster.index') }}">Crew</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('equipment.index') }}">Equipment</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('unit.index') }}">Unit</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarOther" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Settings
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarOther">
                        <a class="dropdown-item" href="{{ url_for('settings.index') }}">Attributes</a>
                        <a class="dropdown-item" href="{{ url_for('settings.dates') }}">Campaign Dates</a>
                        <a class="dropdown-item" href="{{ url_for('contracts.index') }}">Contracts</a>
                        {% if current_user.is_admin() %}
                            <a class="dropdown-item" href="{{ url_for('members.index') }}">Members</a>
                        {% endif %}
                    </div>
                </li>
            {% endif %}
            <li class="nav-item"><a class="nav-link" href="{{ url_for('techreadout.index') }}">Technical Readouts</a></li>
        </ul>
        {% if current_user.is_authenticated %}
            <a class="btn btn-outline-info my-2 my-sm-0 mx-2" href="{{ url_for('landing.app_help') }}">Help</a>
            <span class="navbar-text mb-0 mx-2">{{ current_user.username }}</span>
            <a class="btn btn-outline-secondary my-2 my-sm-0" href="{{ url_for('auth.logout') }}">Log Out</a>
        {% else %}
            <a class="btn btn-outline-success my-2 my-sm-0 mr-2" href="{{ url_for('auth.register') }}">Register</a>
            <a class="btn btn-outline-primary my-2 my-sm-0" href="{{ url_for('auth.login') }}">Log In</a>
        {% endif %}
    </div>
</nav>
<section class="container">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="row">
                <div class="offset-2 col-8">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</section>

    <script src="{{ url_for('static', filename='jquery-3.4.1.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% block pagescript %}{% endblock %}
</body>
</html>
