{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post" novalidate>
        {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username.label(class='sr-only') }}
                {{ form.username(class_='form-control', autofocus=True, placeholder='username') }}
                {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.password.label(class='sr-only') }}
                {{ form.password(class_='form-control', placeholder='password') }}
                {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group">{{ form.remember_me(class='checkbox') }} {{ form.remember_me.label }}</div>
            <p>{{ form.submit(class='btn btn-primary') }}</p>
    </form>
    <p>
        Forgot Your Password?
        <a href="{{ url_for('auth.reset_password_request') }}">Click to Reset It</a>
    </p>
{% endblock %}
