{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.firstname.label(class='sr-only') }}
            {{ form.firstname(class_='form-control', autofocus=True, placeholder='first') }}
            {% for error in form.firstname.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.lastname.label(class='sr-only') }}
            {{ form.lastname(class_='form-control', placeholder='last') }}
            {% for error in form.lastname.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.username.label(class='sr-only') }}
            {{ form.username(class_='form-control', placeholder='username') }}
            {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.email.label(class='sr-only') }}
            {{ form.email(class_='form-control', placeholder='email') }}
            {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <p>{{ form.submit(class='btn btn-primary') }}</p>
    </form>
{% endblock %}
