{% extends 'base.html' %}
{% from '_formhelpers.html' import with_errors %}

{% block header %}
    <h1>{% block title %}Reset Password{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.email.label }}
            {{ with_errors(form.email, size=64, autofocus=True, class_='form-control') }}
        </div>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
