{% extends 'base.html' %}
{% from '_formhelpers.html' import with_errors %}

{% block header %}
    <h1>{% block title %}Reset Your Password{% endblock %}</h1>
{% endblock %}

{% block content %}
    <p>New password for <strong>{{ email }}</strong></p>
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.password.label }}
            {{ with_errors(form.password, autofocus=True, class_='form-control') }}
        </div>
        <div class="form-group">
            {{ form.confirm.label }}
            {{ with_errors(form.confirm, class_='form-control') }}
        </div>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
