{% extends 'base.html' %}
{% from "_formhelpers.html" import with_errors %}

{% block header %}
    <h1>{% block title %}Create Unit{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post" action="{{ url_for('unit.wizard') }}">
        {{ form.hidden_tag() }}
        <div class="row my-4">
            <div class="col-1">
                {{ form.unit_name.label }}
            </div>
            <div class="col">
                {{ with_errors(form.unit_name, class_='form-control', autofocus='autofocus') }}
            </div>
        </div>
        <div class="row my-4">
            <div class="col-1">
                {{ form.unit_type.label }}
            </div>
            <div class="col">
                {{ with_errors(form.unit_type, class_='form-control') }}
            </div>
        </div>
        <div class="row my-2">
            <div class="col-2 offset-1">Type</div>
            <div class="col-7">Equipment Name</div>
            <div class="col-2">Crew</div>
        </div>
        {% for line in form.eqpt_lines.entries %}
            <div class="row my-2">
                <div class="col-1">{{ loop.index }}</div>
                <div class="col-2">
                    {{ with_errors(line.eqpt_type, class_='form-control') }}
                </div>
                <div class="col-7">
                    {{ with_errors(line.tro, class_='form-control') }}
                </div>
                <div class="col-2">
                    {{ with_errors(line.random_crew, class_='form-control') }}
                </div>
            </div>
        {% endfor %}
        {{ form.create(class_='btn btn-primary') }}
    </form>
{% endblock %}

{% block pagescript %}
    <script type="text/javascript">
    function onChangeType() {
        url = "{{ url_for('equipment.get_tro_by_type_json') }}";
        my_id = this.id;
        tro_id = my_id.substring(0, my_id.lastIndexOf("-") + 1) + "tro";
        console.debug("my id = " + my_id);
        console.debug("tro id = " + tro_id);
        postData = { type: $("#" + my_id).val() };
        $.getJSON(url, postData, function(data) {
            let tro_select = $("#" + tro_id);
            tro_select.empty();
            let list = '';
            for (let j = 0; j < data['entries'].length; j++) {
                list += "<option value='" + data['entries'][j][0] + "'>" + data['entries'][j][1] + "</option>";
            }
            tro_select.html(list);
        });
    }
    for (i=0; i<5; i++) {
        $("#eqpt_lines-" + i + "-eqpt_type").change(onChangeType);
    }
    </script>
{% endblock %}
