{% extends 'base.html' %}
{% from "_formhelpers.html" import with_errors %}

{% block header %}
    <h1>{% block title %}Edit Unit{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post" action="{{ url_for('unit.save') }}">
        {{ form.hidden_tag() }}

        <div class="row my-1">
            <div class="col-md-2">
                {{ form.name.label }}
            </div>
            <div class="col-md-8">
                {{ with_errors(form.name, class_='form-control', autofocus=True) }}
            </div>
        </div>

        <div class="row my-1">
            <div class="col-md-2">
                {{ form.type.label }}
            </div>
            <div class="col-md-8">
                {{ with_errors(form.type, class_='form-control') }}
            </div>
        </div>

        <div class="row my-1">
            <div class="col-md-2">
            {{ form.level.label }}
            </div>
            <div class="col-md-8">
            {{ with_errors(form.level, class_='form-control') }}
            </div>
        </div>

        <div class="row my-1">
            <div class="col-md-2">
                {{ form.limage.label }}
            </div>
            <div class="col-md-8">
                {{ with_errors(form.limage, class_='form-control') }}
            </div>
        </div>

        <div class="row my-1">
            <div class="col-md-2">
                {{ form.notes.label }}
            </div>
            <div class="col-md-8">
                {{ with_errors(form.notes, class_='form-control') }}
            </div>
        </div>

        <!-- FIXME: do I add a place for sub-units and personnel here? -->
        <div class="row my-1">
            <div class="col-md-2">
                {{ form.assigned_crew.label }}
            </div>
            <div class="col-md-8">
                {{ with_errors(form.assigned_crew, class_='form-control') }}
            </div>
        </div>

        {% for c in current_crew %}
            <div class="row my-1">
                <div class="col-md-8 offset-2">
                    {{ c.fullName() }} <a href="{{ url_for('roster.detach', crew_id=c.id) }}?parent={{ c.unit.id }}" class="btn btn-secondary btn-sm">Detach</a>
                </div>
            </div>
        {% endfor %}

        <div class="row my-1">
            <div class="col-md-2">
                {{ form.subunit.label }}
            </div>
            <div class="col-md-8">
                {{ with_errors(form.subunit, class_='form-control') }}
            </div>
        </div>

        {% for su in subunits %}
            <div class="row my-1">
                <div class="col-md-8 offset-2">
                    {{ su.name }} <a href="{{ url_for('unit.detach', unit_id=su.id) }}?parent={{ su.parent.id }}" class="btn btn-secondary btn-sm">Detach</a>
                </div>
            </div>
        {% endfor %}

        {{ form.save(class_="btn btn-success") }}
        {{ form.save_and_close(class_="btn btn-primary") }}
        <a href="{{ url_for('unit.index') }}" class="btn btn-secondary">Cancel</a>
        {% if unit_id %}
            <a href="{{ url_for('unit.delete', unit_id=unit_id) }}" class="btn btn-danger" onclick="return confirm('Delete: are you sure?');">Delete</a>
        {% endif %}
    </form>
{% endblock %}
