{% extends 'base.html' %}

{% block header %}
    <div class="row">
    <div class="col-10">
    <h1>{% block title %}Unit{% endblock %}</h1>
    </div>
    <div class="col-2">
    {% if current_user.is_authenticated %}
        <a class="btn btn-outline-success" href="{{ url_for('unit.wizard') }}">Wizard</a>
        <a class="btn btn-success" href="{{ url_for('unit.create') }}">New</a>
    {% endif %}
    </div>
    </div>
{% endblock %}

{% macro print_unit(this_unit, level=0) %}
    <div class="row my-2">
        <div class="col-1 offset-{{ level }} unit-label pb-2" style="border-left: thick solid {{ this_unit.get_color_code() }};">
            <div class="d-md-inline d-none">
                <img src="{{ url_for('static', filename="images/unitlevel/{}".format(this_unit.level.picture)) }}" alt="Unit Level"><br>
                <img src="{{ url_for('static', filename="images/unittype/{}".format(this_unit.img_unit_type())) }}" alt="Unit Type"><br>
            </div>
        </div>
        <div class="col-2 unit-label">
            <h4 class="mt-2">{{ this_unit.name }}</h4>
        </div>
        <div class="col-1 unit-label">
            <span class="badge badge-dark badge-pill">PV: {{ this_unit.get_point_value() }}</span>
        </div>
        <div class="col unit-label" style="border-right: thick solid {{ this_unit.get_color_code() }}">
            {% if current_user.is_authenticated %}
                <div class="float-right mt-2">
                    <a href="{{ url_for('unit.edit', unit_id=this_unit.id) }}" class="btn btn-secondary btn-sm">Edit</a>
                    <a href="{{ url_for('unit.cards', unit_id=this_unit.id) }}" class="btn btn-info btn-sm" target="_blank">Cards</a>
                </div>
            {% endif %}
        </div>
    </div>
    {% if level < 6 %}
        {% for su in this_unit.subunits %}
            {{ print_unit(su, level + 1) }}
        {% endfor %}
    {% endif %}
    <div class="row">
        <div class="col-md-8 offset-{{ level + 1 }}">
            <table class="table">
            {% for this_crew in this_unit.crews %}
                <tr>
                    <td>{{ this_crew.rank.name }}</td>
                    <td>{{ this_crew.fullName() }}</td>
                    <td><span class="badge badge-secondary">Skill: {{ this_crew.getASSkill() }}</span></td>
                    <td><em>{{ this_crew.getEquipmentName() }}</em></td>
                    <td>{{ this_crew.get_point_value() }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
{% endmacro %}

{% block content %}
    {% for rec in records %}
        {{ print_unit(rec) }}
    {% endfor %}
{% endblock %}
