{% from 'equipment/_card.html' import print_card %}
{% macro print_unit(this_unit) %}
    {% for su in this_unit.subunits %}
        {{ print_unit(su) }}
    {% endfor %}
    {% if this_unit.crews %}
        {% for this_crew in this_unit.crews %}
            {% if this_crew.equipment %}
                {{ print_card(this_crew.equipment[0], this_crew.equipment[0].get_card_code()) }}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endmacro %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alpha Strike Cards</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='print.css') }}">
</head>
<body>
{% for u in records %}
    {{ print_unit(u) }}
{% endfor %}
</body>
</html>
