{% macro print_card(eqpt, as_card_code=0) %}
    <div class="alphastrikecard">
        <table class="table-fullsize">
            <tr>
                <td><span class="unit-subtype">{{ eqpt.subtype }}</span></td>
                <td style="text-align: right; padding-right: 8px;" rowspan="2">PV: <strong>{{ eqpt.pv() }}</strong></td>
            </tr>
            <tr>
                <td><span class="unit-title">{{ eqpt.name }}</span></td>
            </tr>
        </table>
        {% if eqpt.tro %}
            <table class="table-fullsize stats-group">
                <tr>
                    <td class="stats-label-first">TP:</td>
                    <td class="stats-column stats-bold">{{ eqpt.get_unit_card_code() }}</td>
                    <td class="stats-label">SZ:</td>
                    <td class="stats-column stats-bold stats-large">{{ eqpt.tro.asSize }}</td>
                    <td class="stats-label">TMM:</td>
                    <td class="stats-column stats-bold stats-large">{{ eqpt.tro.getTMM() }}</td>
                    <td class="stats-label">MV:</td>
                    <td class="stats-column stats-bold stats-large">{{ eqpt.tro.asMove }}</td>
                </tr>
                <tr>
                    <td class="stats-label-first">Role:</td>
                    <td class="stats-bold">{{ eqpt.tro.getRole() }}</td>
                    <td class="stats-label">Pilot:</td>
                    <td colspan="3">{% if eqpt.crew %}{{ eqpt.crew.get_callsign() }}{% endif %}</td>
                    <td class="stats-label">Skill:</td>
                    <td class="stats-bold stats-large">{% if eqpt.crew %}{{ eqpt.crew.getASSkill() }}{% endif %}</td>
                </tr>
            </table>
            <table class="table-fullsize stats-group">
                <tr>
                    <td rowspan="2">Damage</td>
                    <td>S (+0)</td>
                    <td>M (+2)</td>
                    <td>L (+4)</td>
                    <td rowspan="2">OV: <span class="stats-bold stats-large">{{ eqpt.tro.getDamage(3) }}</span></td>
                </tr>
                <tr>
                    <td class="stats-bold stats-large">{{ eqpt.tro.getDamage(0) }}</td>
                    <td class="stats-bold stats-large">{{ eqpt.tro.getDamage(1) }}</td>
                    <td class="stats-bold stats-large">{{ eqpt.tro.getDamage(2) }}</td>
                </tr>
            </table>
            <div style="float: left; margin: 0 4px 0 0;">
                <table class="table-halfsize stats-group">
                    <tr>
                        <td class="stats-column">A:</td>
                        <td class="marking-box">{{ eqpt.tro.getCircles()|safe }}</td>
                    </tr>
                    <tr>
                        <td class="stats-column">S:</td>
                        <td class="marking-box">{{ eqpt.tro.getCircles(True)|safe }}</td>
                    </tr>
                </table>
                <table class="table-halfsize stats-group">
                    <tr>
                        <td class="stats-column">Special:</td>
                        <td class="special">{{ eqpt.tro.get_special() }}</td>
                    </tr>
                </table>
            </div>
            <!-- Critical Hits Table shows for Mechs, Vehicles, and Fighters, but not Infantry -->
            {% if as_card_code in (0, 1, 3) %}
            <table class="table-halfsize stats-group">
                <tr>
                    <td class="crit-type">Engine</td>
                    <td>
                        <!--
                        <img src="{{ url_for('static', filename='images/circle.png') }}" style="padding: 0 2px;">
                        -->
                        &#x25A2;
                        <!-- see utils.py for the Alpha Strike Card Codes -->
                        {% if as_card_code == 1 %}
                            &half; MV and Damage
                        {% else %}
                            +1 Heat/Firing Weapons
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="crit-type">Fire Control</td>
                    <td>
                        <!--
                        <img src="{{ url_for('static', filename='images/circle.png') }}" style="padding: 0 2px;">
                        <img src="{{ url_for('static', filename='images/circle.png') }}" style="padding: 0 2px;">
                        <img src="{{ url_for('static', filename='images/circle.png') }}" style="padding: 0 2px;">
                        <img src="{{ url_for('static', filename='images/circle.png') }}" style="padding: 0 2px;">
                        -->
                        &#x25A2; &#x25A2; &#x25A2; &#x25A2;
                        +2 To-Hit Each
                    </td>
                </tr>
                <tr>
                    <td class="crit-type">MP</td>
                    <td>
                        <!--
                        <img src="{{ url_for('static', filename='images/circle.png') }}" style="padding: 0 2px;">
                        <img src="{{ url_for('static', filename='images/circle.png') }}" style="padding: 0 2px;">
                        <img src="{{ url_for('static', filename='images/circle.png') }}" style="padding: 0 2px;">
                        <img src="{{ url_for('static', filename='images/circle.png') }}" style="padding: 0 2px;">
                        -->
                        <!-- see utils.py for the Alpha Strike Card Codes -->
                        {% if as_card_code == 1 %}
                            &#x25A2; &#x25A2; -2 MV
                            &#x25A2; &#x25A2; &half; MV
                            &#x25A2; 0 MV
                        {% else %}
                            &#x25A2; &#x25A2; &#x25A2; &#x25A2;
                            &half; MV Each
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="crit-type">Weapons</td>
                    <td>
                        <!--
                        <img src="{{ url_for('static', filename='images/circle.png') }}" style="padding: 0 2px;">
                        <img src="{{ url_for('static', filename='images/circle.png') }}" style="padding: 0 2px;">
                        <img src="{{ url_for('static', filename='images/circle.png') }}" style="padding: 0 2px;">
                        <img src="{{ url_for('static', filename='images/circle.png') }}" style="padding: 0 2px;">
                        -->
                        &#x25A2; &#x25A2; &#x25A2; &#x25A2;
                        -1 Damage Each
                    </td>
                </tr>
            </table>
            {% else %}
                <div style="clear: both;"></div>
            {% endif %}
        {% endif %}
    </div>
{% endmacro %}
