{% from 'equipment/_card.html' import print_card %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alpha Strike Cards</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='print.css') }}">
</head>
<body>
    {{ print_card(this_eqpt, this_eqpt.get_card_code()) }}
</body>
</html>
