{% extends 'base.html' %}
{% from '_formhelpers.html' import with_errors %}

{% block header %}
    <h1>{% block title %}New Equipment{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post" action="{{ url_for('equipment.create') }}">
        {{ form.hidden_tag() }}
        <div class="row my-2">
            <div class="col-md-2">
                {{ form.eqpt_type.label }}
            </div>
            <div class="col-md-10">
                {{ with_errors(form.eqpt_type, class_='form-control') }}
            </div>
        </div>
        <div class="row my-2">
            <div class="col-md-2">
                {{ form.tro.label }}
            </div>
            <div class="col-md-10">
                {{ with_errors(form.tro, class_='form-control') }}
            </div>
        </div>
        <div class="row my-2">
            <div class="col-md-2">
                {{ form.name.label }}
            </div>
            <div class="col-md-9">
                {{ with_errors(form.name, class_='form-control') }}
            </div>
        </div>
        <div class="row my-2">
            <div class="col-md-2">
                {{ form.subtype.label }}
            </div>
            <div class="col-md-9">
                {{ with_errors(form.subtype, class_='form-control') }}
            </div>
            <div class="col-md-1">
                <button type="button" title="Search the MUL" class="btn btn-secondary" onclick="search_mul();"><i class="fas fa-search"></i></button>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-md-2">
                {{ form.weight.label }}
            </div>
            <div class="col-md-10">
                {{ with_errors(form.weight, class_='form-control') }}
            </div>
        </div>
        <div class="row my-2">
            <div class="col-md-2">
                {{ form.notes.label }}
            </div>
            <div class="col-md-10">
                {{ with_errors(form.notes, class_='form-control') }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 offset-2">
                <input type="submit" value="Create" class="btn btn-primary">
                <a href="{{ url_for('equipment.index') }}" class="btn btn-secondary">Back</a>
            </div>
        </div>
    </form>
{% endblock %}

{% block pagescript %}
    <script type="text/javascript">
        $("#eqpt_type").change(function(){
            url = "{{ url_for('equipment.get_tro_by_type_json') }}";
            postData = { type: $("#eqpt_type").val() };
            $.getJSON(url, postData, function(data) {
                let tro_select = $("#tro");
                tro_select.empty();
                let list = '';
                for (let j = 0; j < data['entries'].length; j++) {
                    list += "<option value='" + data['entries'][j][0] + "'>" + data['entries'][j][1] + "</option>";
                }
                tro_select.html(list);
            });
        });
        $("#tro").change(function(){
            let url = "{{ url_for('techreadout.get_json') }}";
            let tro_id = $("#tro").val();
            if (tro_id > 1) {
                postData = {tro_id: tro_id};
                $.getJSON(url, postData, function (data) {
                    if ($('#name').val() === "") {
                        $('#name').val(data['name']);
                    }
                    if ($('#subtype').val() === "") {
                        $('#subtype').val(data['subtype'])
                    }
                    if ($('#weight').val() === "") {
                        $('#weight').val(data['weight'])
                    }
                });
            }
        });
        function search_mul() {
            let search_url = "http://masterunitlist.info/Unit/Filter?Name=" + $('#name').val() + "+" + $('#subtype').val();
            window.open(search_url, "");
        }
    </script>
{% endblock %}
