{% extends 'base.html' %}
{% from '_formhelpers.html' import with_errors %}

{% block header %}
    <h1>{% block title %}Edit Equipment{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="row my-2">
            <div class="col-md-2">
                {{ form.name.label }}
            </div>
            <div class="col-md-9">
                {{ with_errors(form.name, class_='form-control') }}
            </div>
            <div class="col-md-1">
                <button type="button" title="Search the MUL" class="btn btn-secondary" onclick="search_mul();"><i class="fas fa-search"></i></button>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-md-2">
                {{ form.subtype.label }}
            </div>
            <div class="col-md-10">
                {{ with_errors(form.subtype, class_='form-control') }}
            </div>
        </div>
        <div class="row my-2">
            <div class="col-md-2">
                {{ form.weight.label }}
            </div>
            <div class="col-md-10">
                {{ with_errors(form.weight, class_='form-control') }}
            </div>
        </div>
        <div class="row my-2">
            <div class="col-md-2">
                {{ form.notes.label }}
            </div>
            <div class="col-md-10">
                {{ with_errors(form.notes, class_='form-control') }}
            </div>
        </div>
        <div class="row my-2">
            <div class="col-md-2">
                {{ form.crew.label }}
            </div>
            <div class="col-md-10">
                {{ with_errors(form.crew, class_='form-control') }}
            </div>
        </div>
        <div class="row my-2">
            <div class="col-md-2">
                {{ form.tro.label }}
            </div>
            <div class="col-md-10">
                {{ with_errors(form.tro, class_='form-control') }}
            </div>
        </div>
        <input type="submit" value="Save" class="btn btn-primary">
        <a href="{{ url_for('equipment.index') }}" class="btn btn-secondary">Back</a>
    </form>
{% endblock %}

{% block pagescript %}
    <script type="text/javascript">
        function search_mul() {
            let search_url = "http://masterunitlist.info/Unit/Filter?Name=" + $('#name').val() + "+" + $('#subtype').val();
            window.open(search_url, "");
        }
    </script>
{% endblock %}
