{% extends 'base.html' %}

{% block header %}
    <div class="row">
        <div class="col-11">
            <h1>{% block title %}Equipment{% endblock %}</h1>
        </div>
        <div class="col">
            {% if current_user.is_authenticated %}
                <a class="btn btn-success" href="{{ url_for('equipment.create') }}">New</a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="table-responsive-md">
        <table class="table" id="eqptTable">
            <thead>
            <tr>
                <th>Type</th>
                <th>Name</th>
                <th>Weight</th>
                <th>Crew</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for rec in records %}
                <tr>
                    <td>{{ rec.eqptType.name }}</td>
                    <td>{{ rec.name }} {{ rec.subtype }}</td>
                    <td>{{ rec.weight }}</td>
                    <td>{{ rec.getCrew() }}</td>
                    <td>
                        <a href="{{ url_for('equipment.edit', eqpt_id=rec.id) }}"
                           class="btn btn-primary btn-sm">Edit</a>
                        <a href="{{ url_for('equipment.delete', eqpt_id=rec.id) }}" class="btn btn-danger btn-sm"
                           onclick="return confirm('Delete: are you sure?');">Delete</a>
                        {% if rec.tro %}
                            {% if current_user.is_admin() %}
                                <a href="{{ url_for('techreadout.edit', tro_id=rec.tro.id) }}"
                                class="btn btn-secondary btn-sm">TRO</a>
                            {% else %}
                                <a href="{{ url_for('techreadout.show', tro_id=rec.tro.id) }}"
                                class="btn btn-secondary btn-sm">TRO</a>
                            {% endif %}
                            {% if rec.tro.mulId %}
                                <a href="http://masterunitlist.info/Unit/Details/{{ rec.tro.mulId }}"
                                   class="btn btn-outline-info btn-sm" target="_blank">MUL</a>
                            {% endif %}
                            <a href="{{ url_for('equipment.card', eqpt_id=rec.id) }}" class="btn btn-outline-info btn-sm" target="_blank">Card</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block pagescript %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#eqptTable').DataTable({
                "order": [[1, "asc"]]
            });
        });
    </script>
{% endblock %}
